
/*  view mask style [VM]  */

body {
    background-color: #ffffff;
}

.app {
    background-color: #f0f0f0;
    color: #000000;
    padding: 20px;
    width: 740px;
    font-family: sans-serif;
    font-size: 11pt;
    -webkit-box-shadow:  2px 2px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow:  2px 2px 10px 2px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    position: relative;
    top: 20px;
    left: 20px;
}

.app > .title {
    font-size: 16pt;
    font-weight: bold;
    padding: 4px;
}

.app > .reset {
    border-top:    1px solid #ffffff;
    border-right:  1px solid #ffffff;
    border-bottom: 1px solid #cccccc;
    border-left:   1px solid #cccccc;
    font-size: 9pt;
    font-weight: bold;
    padding: 4px;
    position: absolute;
    width: 40px;
    top: 20px;
    left: 690px;
    cursor: pointer;
}
.app > .reset:hover {
    background-color: #cc3333;
    color: #ffffff;
}

.app > .status {
    margin: 4px;
    padding: 4px;
    height: 16px;
    border-top:    1px solid #cccccc;
    border-right:  1px solid #cccccc;
    border-bottom: 1px solid #ffffff;
    border-left:   1px solid #ffffff;
    font-size: 9pt;
    width: 705px;
}

